/* Coolors Exported Palette - coolors.co/403f4c-1da1f2-f85565-f9dc5c-00a878 */

/* RGB */
$gray: rgba(64, 63, 76, 1);
$blue: rgba(29, 161, 242, 1);
$red: rgba(248, 85, 101, 1);
$yellow: rgba(249, 220, 92, 1);
$green: rgba(0, 168, 120, 1);