/* Coolors Exported Palette - coolors.co/403f4c-1da1f2-f85565-f9dc5c-00a878 */

/* HSL */
$color1: hsla(245%, 9%, 27%, 1);
$color2: hsla(203%, 89%, 53%, 1);
$color3: hsla(354%, 92%, 65%, 1);
$color4: hsla(49%, 93%, 67%, 1);
$color5: hsla(163%, 100%, 33%, 1);

/* RGB */
$color1: rgba(64, 63, 76, 1);
$color2: rgba(29, 161, 242, 1);
$color3: rgba(248, 85, 101, 1);
$color4: rgba(249, 220, 92, 1);
$color5: rgba(0, 168, 120, 1);